<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- This file is required for deployment to Azure App Service through Azure DevOps pipelines; DO NOT DELETE OR CHANGE!!! -->
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
</configuration>