<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- This file is required for deployment to Azure App Service through Azure DevOps pipelines; DO NOT DELETE OR CHANGE!!! -->
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\CdnDataReceiver2.dll" stdoutLogEnabled="false" stdoutLogFile="\\?\%home%\LogFiles\stdout" hostingModel="inprocess" />
  </system.webServer>
</configuration>