<div class="my-40 text-center flex items-center w-full h-full justify-center">
    <div class="text-center">
        <img src="assets/finished.png" class="mb-10 mx-auto" alt="">

        <h6 class="mb-6">
            Contacten die mogelijk besmet zijn krijgen een melding
        </h6>
        <p class="mb-10">
            Dit geldt voor alle personen die dicht bij de index zijn geweest vanaf <b>{{this.friendlySymptomsDate()}}</b>. Alleen als zij ook de app gebruiken. Lukt het de index niet om de codes te delen? Dan kan de index dit nog tot 04.00 ’s nachts doen.
        </p>
        <button routerLink="/validate/start" class="btn btn-primary">Nieuwe index verwerken</button>
    </div>
</div>
