<div class="bg-gray-200">
    <div class="container min-h-screen flex items-center justify-center">
        <div class="px-8 py-10 bg-white text-center rounded" id="block">
            <img src="assets/welcome_illustration.png" class="mx-auto" alt="">
            <h1 class="text-4xl mt-10 leading-tight">Digitaal Contactonderzoek</h1>
            <p class="text-gray-700 mt-4 mb-8">Help de index anderen te waarschuwen met
                de {{titleService.getAppTitle()}}
                app</p>
            <a (click)="authorize()" title="Login met uw GGD account" class="btn btn-primary w-full">
                Inloggen
            </a>
            <div class="bg-red-300 px-5 py-4 rounded mt-8 text-center w-full" *ngIf="error_code > 0">
                Uw account heeft momenteel geen toegang tot het CoronaMelder Portaal. Neem contact op met uw technisch beheerder.
            </div>
        </div>
    </div>
</div>
