<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="CIBG-Packages@Local" value="https://pkgs.dev.azure.com/cibgict/_packaging/CIBG-Packages%40Local/nuget/v3/index.json" />
    <add key="LocalSourceForLocalPeople" value="D:\Packages\NuGet" />
  </packageSources>
</configuration>
