<div>
  <div class="row h-100 min-vh-100 align-items-center justify-content-center">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Infectie Confirmatie Code</h5>
          <p class="card-text">
          </p>
          <!--          TODO: Convert generated code into fill-in Icc -->
          <div class="d-flex" id="iccWrapper" (click)="copyCodeToClipboard()">
            <div class="w-100" *ngIf="icc_batch && icc_batch.batch.length > 0">
              <div>
                <p>Batch ID:</p>
                <input placeholder="# Batch ID" type="text" class="form-control disabled" disabled [value]="icc_batch.id"
                       name="icc_id">
                <br>
              </div>
              <input placeholder="1234" type="text" class="form-control disabled" disabled *ngFor="let icc of icc_batch.batch"
                     [value]="icc.code" name="icc_1">

              <textarea name="icc_full" class="form-control" cols="40" rows="{{icc_batch.batch.length}}"
                        [value]="getIccCodeTextArea()"></textarea>
            </div>

            <!--            <input class="form-control" [value]="icc_code[0]" disabled/>-->
            <!--            <input class="form-control" [value]="icc_code[1]" disabled/>-->
            <!--            <input class="form-control" [value]="icc_code[2]" disabled/>-->
            <!--            <input class="form-control" [value]="icc_code[3]" disabled/>-->
            <!--            <input class="form-control" [value]="icc_code[4]" disabled/>-->
            <!--            <input class="form-control" [value]="icc_code[5]" disabled/>-->
          </div>
          <button class="btn w-100 btn-dark my-3" (click)="generateCode()">Genereren</button>
          <!--<button class="btn w-50 btn-light my-3 disabled">Download (.pdf)</button>-->
          <button class="btn w-50 btn-light my-3" [disabled]="!icc_batch" (click)="downloadCsv()">Download (.csv)</button>
          <button class="btn w-50 btn-light my-3" (click)="generateDownloadCsv()">Genereren & Download (.csv)</button>
          <!--          <a [routerLink]="['/icc/report']" class="btn w-100 btn-light mt-2">Raporteren</a>-->
        </div>
      </div>
    </div>
  </div>
</div>
