@{
    ViewData["Title"] = "Home Page";
}

<h3>
    CoronaMelder Backend Management Portal
</h3>

<a class="btn btn-primary mb-1" asp-area="" asp-controller="Content" asp-action="Index">Manage Content</a>
<br>
<a class="btn btn-primary" asp-area="" asp-controller="Data" asp-action="Index">Data manager</a>