<app-step stepTitle="Vraag de index de codes te delen" stepNumber="5">
    <p class="mt-4 mb-6">

        <b>Leg uit:</b> scroll naar beneden en druk op de blauwe knop met daarop <b>‘Ga door’</b>. Daarna komt een nieuw
        scherm met de vraag je codes te delen. <b>Geef toestemming door op "Delen" te drukken.</b>.
        <br>
    </p>
    <div class="bg-gray-200 rounded mb-6 py-8 pl-8 relative">
        <app-image-caroussel additionalStyle="left: 0rem;" [images]="images"></app-image-caroussel>
    </div>
    <p class="capital-note">Eventuele vragen van de index</p>
    <app-expansion-panel panelTitle="Wat moet ik doen als ik de codes niet kan delen?">
        <p class="mb-1">
            Als de index de codes nu niet kan delen, kan de index dit tot 04.00 ’s nachts opnieuw proberen en zo alsnog anderen waarschuwen.
        </p>
    </app-expansion-panel>
    <app-expansion-panel panelTitle="Welke informatie deel ik nu?">
        <p class="mb-1">
            Je deelt de bluetoothcodes die je telefoon heeft gemaakt op de dagen dat je zeer waarschijnlijk besmettelijk
            was. De mensen die jou in die periode zijn tegengekomen hebben deze codes toen van jou ontvangen en daarom
            nu op hun telefoon staan. Zij krijgen een melding.
        </p>
    </app-expansion-panel>
</app-step>
