<div>
  <div class="row h-100 min-vh-100 align-items-center justify-content-center">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Infectie Confirmatie Code</h5>
          <p class="card-text">
            Gegenereerde code:
          </p>
          <div class="d-flex"  (click)="copyCodeToClipboard()">
            <input class="form-control" [value]="icc_code[0]" disabled/>
            <input class="form-control" [value]="icc_code[1]" disabled/>
            <input class="form-control" [value]="icc_code[2]" disabled/>
            <input class="form-control" [value]="icc_code[3]" disabled/>
            <input class="form-control" [value]="icc_code[4]" disabled/>
            <input class="form-control" [value]="icc_code[5]" disabled/>
          </div>
          <button class="btn w-100 btn-light mt-3" (click)="generateCode()">Opnieuw genereren</button>
        </div>
      </div>
    </div>
  </div>
</div>
