<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<httpRuntime enableVersionHeader="false" />
	</system.web>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
			</customHeaders>
		</httpProtocol>
		<rewrite>
			<rules>
				<clear />
				<rule name="ReverseProxyAuth" patternSyntax="ECMAScript" stopProcessing="true">
					<match url="iccauth/(.*)" negate="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="http://#{Deploy.ICCBackend.Hostname}#/iccauth/{R:1}" appendQueryString="true" logRewrittenUrl="true" />
				</rule>
				<rule name="Angular Routes" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="./index.html" />
				</rule>
			</rules>
		</rewrite>
		<security>
			<requestFiltering removeServerHeader="true" />
		</security>
	</system.webServer>
</configuration>
