@{
    ViewData["Title"] = "Home Page";
}


<div class="row col-xs-12 col-xl-4">
    <div class="content-background">
        <div class="content">
            <h2>Inloggen</h2>
            <br>
            <p>
                <a class="btn cta-link" href="@Url.Action("Index", "Auth")" role="button" tabindex="0">
                    Inloggen met IdentityHub
                    <span class="screenreader-only">&nbsp;met IdentityHub</span>
                </a>
            </p>
        </div>
    </div>
</div>