@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @User.Identity.AuthenticationType.ToString() @User.Identity.Name</h1>
     <table>
            @foreach (var c in User.Claims)
            {
                <tr>
                    <td>@c.Type</td>
                    <td>@c.Value</td>
                </tr>
            }
        </table>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>