@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~src/css/components";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

html, body {
  @apply text-black font-body antialiased;
}

// reset


h1, h2 {
  @apply font-bold;
  letter-spacing: 0.5px;
}

h3, h4, h5, h6 {
  @apply font-medium;
  letter-spacing: 0.5px;
}

.container {
  @apply mx-auto px-4;
}

@screen xl {
  .container {
    @apply px-0;
  }
}
h1 {
  @apply text-5xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-3xl;
}

h4 {
  @apply text-2xl;
}

h5 {
  @apply text-xl;
}

h6 {
  @apply text-lg;
}

@screen md {
  h1 {
    @apply text-6xl;
  }

  h2 {
    @apply text-5xl;
  }

  h3 {
    @apply text-4xl;
  }

  h4 {
    @apply text-3xl;
  }

  h5 {
    @apply text-2xl;
  }

  h6 {
    @apply text-xl;
  }
}


// Move to components.scss

button.btn-primary {
  @apply font-body;
  min-width: 320px;
}

.btn {
  @apply px-10 py-2 bg-white text-black font-medium text-center rounded cursor-pointer inline-block;
  &.btn-primary {
    @apply bg-primary text-white duration-200 transition-opacity;
    &:hover{
      opacity: .8;
    }
  }
  &.btn-disabled, &:disabled {
    @apply text-gray-700 bg-gray-500;
    cursor: not-allowed;
  }
}

.btn-group-checkbox {
  .btn {
    @apply py-3 px-12;
  }
}


@keyframes loading_circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


span.icon {
  display: inline-block;
  width: 1em;
  height: 1em;

  &:after {
    content: '';
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 100%;
    height: 100%;
  }

  &.icon-expand:after {
    background-image: url("src/assets/icon-arrow-up.svg");
  }

  &.icon-arrow-right:after {
    transform: rotate(90deg);
    margin-left: 0.1em;
    background-image: url("src/assets/icon-arrow-up.svg");
  }

  &.icon-arrow-left:after {
    background-image: url("src/assets/icon-arrow-left.svg");
  }

  &.icon-arrow-left-sm:after {
    transform: rotate(-90deg);
    margin-left: -0.1em;
    background-image: url("src/assets/icon-arrow-up.svg");
  }


  &.icon-collapse:after {
    background-image: url("src/assets/icon-arrow-up.svg");
    transform: rotate(180deg);
  }

  &.icon-exclamation-mark:after {
    background-image: url("src/assets/icon-exclamation-mark.svg");
  }

  &.icon-check-green:after {
    background-image: url("src/assets/icon-check-green.svg");
  }

  &.icon-close:after {
    background-image: url("src/assets/icon-close.svg");
  }

  &.icon-loading:after {
    animation: loading_circle 1s infinite linear;
    background-image: url("src/assets/icon-loading.svg");
  }

  &.icon-white {
    filter: invert(100%) sepia(66%) saturate(58%) hue-rotate(95deg) brightness(117%) contrast(100%);
  }
}


// TODO: Move to component' file
.input-box {
  width: 480px;

  input {
    @apply text-2xl bg-gray-300 mr-2 rounded text-center;
    width: 56px;
    height: 80px;
    vertical-align: middle;

    &.darker {
      @apply bg-gray-500;
    }

    &:focus {
      @apply border-2 border-solid border-primary shadow-md;
    }

    &.invalid {
      @apply border-2 border-solid border-red-400;
    }

    &.valid {
      @apply border-2 border-solid border-green-400;
    }
  }
}

.expansion-panel {
  .header {
    &:hover {
      h6 {
        @apply text-primary;
      }

      span.icon {
        opacity: 1;
        filter: invert(32%) sepia(100%) saturate(1366%) hue-rotate(209deg) brightness(98%) contrast(96%);
      }
    }
  }
}

.friendly-date-block {
  min-width: 240px;
}

.friendly-date-block, .friendly-dates {
  &:first-letter {
    text-transform: uppercase;
  }
}

.friendly-dates {
  position: absolute;
  max-height: 350px;
  overflow-y: scroll;
}

.leading-nothing {
  line-height: 0;
}

.capital-note {
  @apply text-sm text-gray-700 mb-2 font-semibold;
  //color: #68707C;
  letter-spacing: 1px;
  text-transform: uppercase;
}
