<app-step stepNumber="1" stepTitle="Bespreek met de index wat we gaan doen">
    <p class="mt-4 mb-6">
        <b>Vertel:</b> We gaan andere mensen die je (de index) hebt ontmoet in de periode dat je zeer waarschijnlijk
        besmettelijk was een melding sturen via de CoronaMelder-app.
    </p>
    <p class="capital-note">Eventuele vragen van de index</p>
    <app-expansion-panel panelTitle="Wat krijgen andere mensen te zien in de melding?">
        <p class="mb-1">
            In de melding staat op welke dag ze in de buurt zijn geweest van iemand met corona. Ze weten
            niet wie die persoon is of waar ze elkaar zijn tegengekomen. De app geeft ze verder advies per situatie.
            Zoals het doen van een coronatest als het contact 5 dagen of langer geleden is. Mensen kunnen namelijk
            besmet zijn geraakt, zonder dat ze dat nu door hebben.
        </p>
    </app-expansion-panel>
    <app-expansion-panel panelTitle="Wie krijgen een melding?">
        <p class="mb-1">
            Alleen de mensen die minstens 15 minuten bij je in de buurt waren, op de dagen dat je besmettelijk was.
            Ook moeten deze mensen natuurlijk de app gebruiken.
        </p>
    </app-expansion-panel>
    <app-expansion-panel panelTitle="Weten mensen dat ik melding heb gestuurd?">
        <p class="mb-1">
            Nee, ze weten niet wie de melding gestuurd heeft. Ze horen alleen op welke dag ze in de buurt zijn geweest
            van iemand met corona.
        </p>
    </app-expansion-panel>
</app-step>
<app-step stepNumber="2" stepTitle="Vraag de index de GGD-sleutel in de app te zoeken">
    <p class="mt-4 mb-6">
        <b>Leg uit:</b> Zet je <b>telefoon op luidspreker.</b> Open de CoronaMelder-app. Ga <b>helemaal naar beneden</b>
        en druk op het onderste item in de
        lijst <b>‘GGD-sleutel doorgeven’</b>.
    </p>
    <div class="bg-gray-200 rounded mb-6 py-8 pl-8 relative">
        <app-image-caroussel additionalStyle="left: 0rem;" [images]="images"></app-image-caroussel>
    </div>

    <p class="capital-note">Eventuele vragen van de index</p>
    <app-expansion-panel panelTitle="Waar is die GGD-sleutel voor?">
        <p class="mb-1">
            De GGD controleert jouw GGD-sleutel als je een melding naar anderen stuurt.
            Dit doen we om zeker te zijn dat alleen mensen die echt besmet zijn meldingen kunnen versturen.
            Zonder het doorgeven van je GGD-sleutel kan je dus nooit meldingen naar anderen versturen.
        </p>
    </app-expansion-panel>
    <app-expansion-panel panelTitle="Hoe open ik een app als ik in gesprek ben?">
        <p class="mb-1">
            Zet de telefoon op luidspreker. Druk daarna op de home-knop van je telefoon om terug te gaan naar het
            beginscherm.
            Vanaf daar kun je de CoronaMelder-app openen.
        </p>
    </app-expansion-panel>
    <app-expansion-panel panelTitle="Weet de app wie ik ben en wie ik heb ontmoet?">

        <p class="mb-1">
            De app wisselt codes uit met andere telefoons. In deze codes staan geen persoonsgegevens of locatiegegevens
            van je. Ze zijn helemaal willekeurig. Het uitwisselen van codes gebeurt op het moment dat je dicht bij een
            persoon bent die ook de app heeft.
        </p>
        <p class="mb-1">Blijkt deze persoon later corona te hebben? Dan kan diegene in de app zijn of haar codes aan een
            lijst met codes
            van besmette personen toevoegen. Het toevoegen van codes kan alleen nadat de besmette persoon zijn of haar
            GGD-sleutel aan de GGD heeft doorgegeven. Zo kan de besmetting bevestigd worden.</p>
        <p class="mb-1">
            Na deze controle is het mogelijk om een melding te versturen naar alle andere mensen die deze codes op hun
            telefoon hebben. In deze melding staat alleen wanneer ze in de buurt zijn geweest van een besmet persoon.
            Niet
            wie dit is en waar ze die persoon zijn tegengekomen.
        </p>

    </app-expansion-panel>
</app-step>
