@model object

@{
    ViewBag.Title = "Content Index";
    ViewData["dateNow"] = DateTime.UtcNow.ToString("yyyy-MM-ddTHH:mm:ssZ");
    Layout = "_Layout";
}

<h2>Content</h2>

<form action="/content" method="post">
    <input type="text" name="release" value="@ViewData["dateNow"]"><br/>
    <select name="contentType" id="contentType">
        <option value="AppConfig">AppConfig</option>
        <option value="RiskCalculationParameters">RiskCalculationParameters</option>
    </select>
    <br/>
    <textarea name="json" id="" cols="60" rows="20" value="{}" placeholder="{}">{}</textarea>
    <br>

    <button class="btn btn-primary w-100" type="submit">Submit</button>
</form>