@model object

@{
    ViewBag.Title = "Content Index";
    Layout = "_Layout";
}

<h2>Content</h2>

<form action="" method="post">
    <textarea name="content" id="" cols="60" rows="20" value="{}" placeholder="{}">{}</textarea>
    <br>
    
    <button class="btn btn-primary w-100" type="submit">Submit</button>
</form>
